streamlit
nltk
pandas
numpy
matplotlib
plotly
scikit-learn
transformers
spacy
textblob
language-tool-python
edge-tts
grammar-check
spellchecker
sapling-py
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
