streamlit==1.43.2
nltk==3.9.1
pandas==2.2.3
numpy==2.2.4
matplotlib==3.10.1
plotly==6.0.1
scikit-learn==1.6.1
transformers==4.50.0
spacy==3.8.4
textblob==0.19.0
language-tool-python==2.9.0
edge-tts==7.0.0
grammar-check==1.0
spellchecker
sapling-py
en-core-web-sm
